/center circle.jpg
/extracted_area.jpg
/hsv_input.jpg
/input.jpg
/mask.jpg
/result.jpg
/target_points.jpg
/target_rings.jpg
/target_scores.jpg
/template.jpg
/SupportCode/
/target points dataset 2/
/targetPointsDataset/
/.ipynb_checkpoints/
/Dataset/
/data/
/Arcery bbox target and center.v3i.yolov8/
/corrector.py
/Main.py
/Annotation Display.py
/Test.ipynb
/Main.ipynb
/Arcery bbox target and center.v3i.yolov8.zip
/delivery.zip
/labelImg.exe
/Process images.zip
